<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<style>

	body{
	width: 80%;
	margin: auto;
	
	
	}
	
	.container{
	border: 2px solid blue;
	padding: 10px;
	width: fit-content;
	margin: auto;


}

.container label,input{
	display: block;
	margin-bottom: 10px;


}

.container img{
	max-width: 150px;
	max-height: 150px;
	display: block;
	margin: auto auto 5px auto;

}

.btn-default{
	display: block;
	margin: auto;
}

#file{
	display:none;
}

.btn-default{
	cursor:pointer;
}

</style>


<body>

	<form action="#" th:action="@{/filme}" th:object="${editarUsuario}"
		method="POST">
	
		<div class="container">
		<input type="text" name="imgPerfil" id="imgPerfil" th:field="*{imgPerfil}" />
		<input type="file" id="file" name="file" onchange="uploadFile();"  class="inputFile" required/>
		<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" id="img-default" name="img-default"></img>
			<label for="file" class="btn-default">Add imagem</label>
			<label>Nome</label>
			<input type="text" id="nome" name="user" th:field="*{user}">
			<label>E-mail</label>
			<input type="text" id="email" name="email" th:field="*{email}">
			<input type="text" id="senha" name="senha" th:field="*{senha}">
			<input type="submit" value="enviar" name="action" id="salvar" class="btn-default">
		</div>
			
	</form>

</body>

<script  type="text/javascript">



function uploadFile(){
	
	var target = document.querySelector("img");
	var file = document.querySelector("input[type=file]").files[0];
	var reader = new FileReader();
	
	reader.onloadend = function(){
		target.src = reader.result;
		document.getElementById("imgPerfil").value = reader.result; // seta o valor da imagem ao intputtext urlimagemBase64
	};
	
	if(file){
		reader.readAsDataURL(file);
	}else{
		target.src="";
	}
};

</script>


</html>